.container {
  position: relative;
  width: 300px;
  height: 100%;
  background: #fff;
  overflow: hidden;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  transition: 0.6s ease-out;
  box-shadow: 3px 6px 10px 2px rgba(0, 0, 0, 0.1);
}
.container__header {
  display: flex;
  color: #00bfff;
  font-size: 14px;

  gap: 10px;
  padding: 14px;
  border-bottom: 1px solid rgb(211, 211, 211);
}
.return__btn {
  color: #00bfff;
  background-color: #fff;
  font-size: 18px;
}
.container__main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(211, 211, 211);
  padding: 28px 32px;
}
.container__main p {
  font-weight: 600;
  font-size: 13px;
}
.weather__icon {
  width: 120px;
  height: 120px;
}
.weather__details {
  margin: 10px;
  font-size: 16px;
}
.container__bottom {
  display: flex;
}

.right {
  width: 166px;
  display: flex;
  gap: 0.2rem;
  justify-content: center;
  align-items: center;
  border-right: 1px solid rgb(211, 211, 211);
  padding: 10px;
  font-weight: 600;
}
.left {
  width: 166px;
  display: flex;
  gap: 0.2rem;
  justify-content: center;
  align-items: center;
  padding: 15px;
  font-weight: 600;
}
.bottom_icons {
  color: #00bfff;
  font-size: 25px;
}
.feelslike_value,
.humidity_value {
  font-size: 11px;
}
.error_icon {
  font-size: 150px;
  font-weight: 800;
}
.error_container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
